html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    max-width: 136.6rem;
    margin: auto;
}

h1 {
    @include font($size: 3rem, $weight:600, $height: 160%);
    @include media-mobile {
        @include font($size: 2.5rem, $weight:600, $height: 160%);
    }
}

h2 {
    @include font($size: 2.5rem, $weight:600, $height: 160%);
    @include media-mobile {
        @include font($size: 2rem, $weight:600, $height: 160%);
    }
}

h3 {
    @include media-mobile {
        @include font($size: 1.8rem, $weight:600, $height: 160%);
    }
}

h4 {
    @include font($size: 1.8rem, $weight:600, $height: 160%); 
    @include media-mobile {
        @include font($size: 1.6rem, $weight:600, $height: 160%);
    }
}