$color-primary: rgb(255, 227, 216);
$color-secondary: rgb(255, 101, 101);
$color-light: rgb(252, 251, 245);
$color-card: rgb(255, 237, 231);
$color-text: rgb(6, 2, 2);
$color-button-primary: rgb(255, 190, 190);
$color-button-secondary: rgb(213, 254, 152);


$content-width: 1366px;	
$tablet-width: 768px;	
$mobile-width: 375px;