.burger {
  &__label {
    display: none;
    flex-direction: column;
    gap: 4px;
    transition: .3s;
    cursor: pointer;
    @include media-tablet {
      display: flex;
      z-index: 20;
    }
  }
  &__line {
    display: block;
    background-color: $color-secondary;
    border-radius: 0.5rem;
    width: 2.5rem;
    height: 0.3rem;
  }
}

.burger:checked + .burger__label { 
    transform: rotate(90deg);
  }

.burger:checked ~ .header__nav{
    right: 0;
    display: inline;
  }
