.btn {
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: none;
    background-color: $color-button-primary;
    margin-top: auto;
    &:hover {
        background-color: $color-button-secondary;
        transition: all .3s;
    }
}