.header {
    background-color: $color-light;
    box-shadow: 0 0 1rem rgba(67, 67, 67, 0.5);
    position: relative;
    &__wrapper {
        @include flex($justify: space-between);
        padding: 2rem 4rem;
    }
    &__link-contact {
        @include flex($flex-dir: column, $i-align: flex-start);
        row-gap: 2rem;
        @include media-tablet {
            display: none;
        }
    }
    &__link {
        @include flex();
        gap: 5rem;
        &_ico {
            color: rgb(6, 2, 2);
            @include font($size: 1.5rem, $weight:600, $height: 160%); 
            text-decoration: none;
            @include flex();
            gap: 1rem;
            &:hover {
                text-decoration: underline $color-secondary 0.3rem;
                text-underline-offset: 1rem;
                transition: all .3s ease-out;
            }
        }
    }
}