.nav {
    @include flex();
    gap: 3rem;
    &__link {
        @include font($size: 2rem, $height: 160%);
        text-decoration: none;
        color: rgb(6, 2, 2);
        &:hover {
            text-decoration: underline rgb(255, 101, 101) 0.3rem;
            text-underline-offset: 1rem;
            transition: all .3s ease-out;
        }
    }
}