.nav {
    @include flex();
    gap: 3rem;
    &__link {
        @include font($size: 1.7rem, $weight:600, $height: 160%); 
        text-decoration: none;
        color: $color-text;
        &:hover {
            text-decoration: underline $color-secondary 0.3rem;
            text-underline-offset: 1rem;
            transition: all .3s ease-out;
        }
    }
}