.nav {
    @include flex();
    gap: 3rem;
    &__link {
        @include font($size: 1.7rem, $weight:600, $height: 160%); 
        text-decoration: none;
        color: $color-text;
        &:hover {
            text-decoration: underline $color-secondary 0.3rem;
            text-underline-offset: 1rem;
            transition: all .3s ease-out;
        }
        @include media-tablet {
            z-index: inherit;
        }
    }

    @include media-tablet {
        overflow: hidden;
        position: relative;
        margin: 0;
        @include flex($flex-dir: column);
        background-color: $color-light;
        padding: 0 4rem;
        gap: 2rem;
        height: 100%;
        z-index: inherit;
    }
}

.header__nav {
    @include media-tablet {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100vh;
        z-index: 10;
        display: none;
    }
} 